################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AnketV2/bin/Debug
/AnketV2/obj/Debug
/DAL/obj/Debug
/Entity/obj/Debug
/Entity/bin/Debug
/DAL/bin/Debug
